#title {
	color: grey;
	text-align: center;
}
#conteudo {
	background: blue;
}
.mercadoria {
	color: black;
	margin: 10px;
	background: yellow;
	text-align: right;
}
p {
	color: yellow;
}
#texto {
	color: purple;
}
div {
	font-size: 20px;
}
span {
	font-size: 2em;
}