ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


ul a{
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background:url(menu-vertical/menu.png) no-repeat left bottom;
}s

a:hover {
	background-position: right bottom;
	background-color: #f99200;
	color: #FFF;
}

#home #mavegacao .index a,
#sobre #mavegacao .sobre a {
	background-position: right bottom;
	background-color: #f99200;
	color: #FFF;
}