* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 body{
    background: purple;
 }

.container{
    display: flex;
    background: blue;
    max-width: 650px;
}

#window{
    flex-direction: center;
    align-items: center;
}

/*
    Revisar os comandos do display flex
Algo esta sendo esquecido e por conta disso o a div windows
não esta se mexendo.
*/